<style>
    * {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    header {
        padding-left: 25px;
        padding-bottom: 10px;
        background: #2a2850;
        color: white;
        text-align: center;
        border-bottom: 10px solid #eea09b;
    }
    body {
        background-color: #fbf3db;
    }
    p {
        font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
        padding: 15px;
        line-height: 2.5;
        text-align: center;
        color: #2a2850;
    }
    h5 {
        font-weight: bolder;
    }
    h5::before {
        content: '" ';
        color: #eea09b;
    }
    h5::after {
        content: ' "';
        color: #eea09b;
    }
</style>
<header>
  <h1>
    Welcome to Gratitude
  </h1>
  <h5 class="quote" id="random-quote">Gratitude is a powerful catalyst for happiness.<br>It's the spark that lights a fire of joy in your soul.</h5>
</header>
<body>
<p>
    Hey {{name}}!
    <br>
    Congratulations on starting your journey towards gratitude and an overall happier life!
        <br>
        Research has shown that just by listing 3 things you are grateful each day and journaling about something that went well, you will be a lot happier.
        <br>
        It teaches your brain to think about the things you have instead of everything you don't have.
        <br>
        Try and stick with these two easy activities for 21 days to form a strong habbit.
        <br>
        Enjoy your day!
        <br>
        Warm regards,<br>
        <br>
        Gratitude Team
</p>
</body>

</html>