<p>
    Journaling is a great way to practise mindfulness and connect with your thoughts and feelings.
    Research shows that expressing gratitude (being thankful for people and situations) can improve your physical and mental health. So, keeping a gratitude journal can be a huge boost for your wellbeing.        <br><br>
    With our app, starting is easier than ever before! If you're not convinced you can even check out 
    <a class="homepageLink" target="_blank" href="https://jamesclear.com/journaling-one-sentence">James Clear's article on the benefits of journaling every day!</a>
    If that's not enough feel free to unmute the awesome video below by
    <a class="homepageLink" target="_blank" href="https://www.youtube.com/user/tremendousnessco">Tremendousness</a>
     explaining the science behind gratitude!
</p>
<br>
<div class="text-center">
    <button id="loginButton" class="btn btn-primary" type="submit"> Login or Sign Up Now</button>
</div>
<br>
<br>
<br>
<div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/JMd1CcGZYwU?start=0&autoplay=1&mute=1" width="560" height="315" title="The Science of Gratitude" frameborder="0" allowfullscreen></iframe>
</div>
<script src="/js/homepage.js"></script>