    
<div class="input-group input-group-lg m-5">
  <span class="input-group-text border-primary">Im Greatful For ..</span>
  <input id="entry1" type="text" class="form-control border-primary" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div class="input-group input-group-lg m-5">
  <span class="input-group-text border-primary h-25">Im Greatful For ..</span>
  <input id="entry2" type="text" class="form-control border-primary" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div class="input-group input-group-lg m-5 ">
  <span class="input-group-text border-primary">Im Greatful For ..</span>
  <input id="entry3" type="text" class="form-control border-primary" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div class="text-center">
  <button class="btn btn-success" id="create_journal_btn">Create Journal</button>
</div>
<script src="/js/journal.js"></script>

