
{{!-- new journal entry --}}
<style>
    .card {
        border: none;
    }
    .input-group {
        margin-bottom: 10px;
    }
    .input-group-text {
        background: #2a2850;
        color: white;
        border: #2a2850;
    }
    #outsideCard {
        border: 2px solid #2a2850;
    }

</style>

<div id="outsideCard"class="card text-center">
  <div class="card-body">
    <div class="card">
        <ul class="list-group list-group-flush"> 
            <div class="input-group input-group-lg">
                <span class="input-group-text">Gratitude 1</span>
                <input  id="gratitude_entry_1" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-text">Gratitude 2</span>
                <input  id="gratitude_entry_2" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-text" >Gratitude 3</span>
                <input id="gratitude_entry_3" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-text">Journal Entry</span><br>
                <textarea id="journal_entry" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
        </ul>
    </div>
    <br>
    <button class="btn btn-primary" id="create_journal_btn" type="submit">Save Entry</button>
</div>

<script src="/js/journal.js"></script>
