{{!-- new journal entry --}}

<div class="card text-center">
  <div class="card-body">
    <div class="card">
  <ul class="list-group list-group-flush">
    
<div class="input-group input-group-lg m-0">
  <span class="input-group-text" id="inputGroup-sizing-lg">Gratitude One</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Gratitude Two</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Gratitude Three</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
  </ul>
</div>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>

