
{{!-- new journal entry --}}
<style>
    .card {
        border: none;
    }
    .input-group {
        margin-bottom: 10px;
    }
    .input-group-text {
        background: #2a2850;
        color: white;
        border: #2a2850;
    }
    #outsideCard {
        border: 2px solid #2a2850;
    }

</style>

<div id="outsideCard"class="card text-center">
  <div class="card-body">
    <div class="card">
        <ul class="list-group list-group-flush"> 
            <div class="input-group input-group-lg">

                <span class="input-group-text">Gratitude 1</span>
                <input  id="entry1" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-text">Gratitude 2</span>
                <input  id="entry2" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-text" >Gratitude 3</span>
                <input id="entry3" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-text">Journal Entry</span><br>
                <textarea id="entry4" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
        </ul>
    </div>
    <div id="journalSuccess"class="alert alert-success" role="alert">
        <b>Awesome Stuff! </b>Your gratitude and journal entries have been saved.
    </div>
    <button class="btn btn-primary" id="create_journal_btn" type="submit">Save Entry</button>
    <button class="btn btn-primary" id="access_journal_btn" type="submit">Previous Entries</button>
</div>
<div class="journal_list"></div>
<script src="/js/journal.js"></script>

