/* CSS Styling here */
h1 {
  background-color: rgb(19, 7, 249);
}

#loginSignUpForms{
  border: 2px solid;
  border-radius: 8px;
  padding: 15px;
}


/* hides alerts by default */

#loginAlert, #signUpAlert {
    display: none;
    transition: ease-in 0.3s;
}