#loginSignUpForms{
  border: 2px solid #2a2850;
  border-radius: 8px;
  padding: 15px;
}
#loginAlert, #signUpAlert {
    display: none;
    transition: ease-in 0.3s;
}
* {
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
}
header {
    padding-left: 25px;
    padding-bottom: 10px;
    background: #2a2850;
    color: white;
    border-bottom: 10px solid #eea09b;
}
body {
    background-color: #fbf3db;
}
form {
    background-color: white;
}
.form-control {
    border: 1px solid #2a2850;
}
h2 {
    color: #2a2850;
}
p {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    padding: 15px;
    line-height: 2.5;
    text-align: center;
    color: #2a2850;
}
.homepageLink {
    color: #eea09b;
    transition: 0.2s;
}
.homepageLink:hover {
    color: #eea09b;
    background: #2a2850;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    padding-left: 40px;
}
.homebutton {
    color: white!important;
    text-decoration: none!important;
}
h5 {
    font-family: 'Zilla Slab', serif;
}
.quote {
    font-weight: bolder;
}
.quote::before {
    content: '" ';
    color: #eea09b;
}
.quote::after {
    content: ' "';
    color: #eea09b;
}
.btn-primary {
    background: #2a2850;
    border: #2a2850
}
.btn-primary:hover {
    background: #eea09b;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}









/* styling for login button */
#loginBtn{
  display: inline-block;
  margin-right: 5px;
}

/* styling for signup button */
#signupBtn{
  display: inline-block;
  margin-right: 5px;
}

/* styling for login form  */
#loginHidden{
  display:contents;
  transition: ease-in-out 0.3s;
}

/* styling for signup form */
#signupHidden{
  display:none;
  transition: ease-in-out 0.3s;
}

/* styling for signup prompt anchor */
#signup-promptBtn{
    cursor: pointer;
    text-decoration-line: underline;
    color: blue;
}

/* styling for signup prompt anchor */
#signup-promptBtn2{
  cursor: pointer;
  text-decoration-line: underline;
  color: blue;
}

/* styling for login prompt anchor */
#login-promptBtn{
  cursor: pointer;
  text-decoration-line: underline;
  color: blue;
}